In [1]:
import numpy as np
import pandas as pd
import datetime

**Basic Date time Operation**

In [2]:
# We will be parsing time series information from various sources and formats
date_var = pd.to_datetime(['10/15/2019', np.datetime64('2019-10-15'), datetime.datetime(2019,10,15)])
date_var

DatetimeIndex(['2019-10-15', '2019-10-15', '2019-10-15'], dtype='datetime64[ns]', freq=None)

In [5]:
# Generate sequences of fixed-frequency dates and time spans
# Frequency is set to daily
date_var = pd.date_range('2019-10-15', periods = 6, freq='D')
date_var

DatetimeIndex(['2019-10-15', '2019-10-16', '2019-10-17', '2019-10-18',
               '2019-10-19', '2019-10-20'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# Manipulating and converting date times with time zone information
# UTC means Universal Time Coordinated world clock time
date_var = date_var.tz_localize('UTC')
date_var

DatetimeIndex(['2019-10-15 00:00:00+00:00', '2019-10-16 00:00:00+00:00',
               '2019-10-17 00:00:00+00:00', '2019-10-18 00:00:00+00:00',
               '2019-10-19 00:00:00+00:00', '2019-10-20 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [7]:
# Convert to Eastern Time zone
date_var.tz_convert('US/Eastern')

DatetimeIndex(['2019-10-14 20:00:00-04:00', '2019-10-15 20:00:00-04:00',
               '2019-10-16 20:00:00-04:00', '2019-10-17 20:00:00-04:00',
               '2019-10-18 20:00:00-04:00', '2019-10-19 20:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='D')

In [8]:
# Resampling or converting a time series to a particular frequency
idx = pd.date_range('2019-10-01', periods=7, freq = 'D') # Can change to 'S' for seconds or 'H' for hourly
ts = pd.Series(range(len(idx)), index=idx)
ts

2019-10-01    0
2019-10-02    1
2019-10-03    2
2019-10-04    3
2019-10-05    4
2019-10-06    5
2019-10-07    6
Freq: D, dtype: int64

In [9]:
idx = pd.date_range('2019-10-01', periods=10, freq = 'M') # Can change to 'S' for seconds or 'H' for hourly
ts = pd.Series(range(len(idx)), index=idx)
ts

2019-10-31    0
2019-11-30    1
2019-12-31    2
2020-01-31    3
2020-02-29    4
2020-03-31    5
2020-04-30    6
2020-05-31    7
2020-06-30    8
2020-07-31    9
Freq: M, dtype: int64

**Working with Timestamped data**

In [10]:
# For pandas objects, time means using the points in time
pd.Timestamp(datetime.datetime(2019, 7, 15))

Timestamp('2019-07-15 00:00:00')

In [11]:
# When you create a timestamp , notice that hours, minutes and seconds are included even when we did not specify
pd.Timestamp('2021-08-08')

Timestamp('2021-08-08 00:00:00')

In [12]:
# Time in terms of a span or period.
# The span represetned by Period can be specified explicitly or inferred from datetime string format
pd.Period('2019-10')

Period('2019-10', 'M')

In [13]:
pd.Period('2019-10', freq='D')

Period('2019-10-01', 'D')

In [14]:
# Create a list of timestamps
dates = [pd.Timestamp('2015-05-01'), pd.Timestamp('2015-05-02'), pd.Timestamp('2015-05-03')]
dates

[Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-02 00:00:00'),
 Timestamp('2015-05-03 00:00:00')]

In [15]:
# Create a pandas series that use the dates
# Random numbers form standard normal distribution
ts = pd.Series(np.random.randn(3), dates)
ts

2015-05-01    1.226000
2015-05-02    1.890133
2015-05-03    0.819088
dtype: float64

In [16]:
# Verify type of index
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
# Create periods that are monthly
periods = [pd.Period('2017-07'),pd.Period('2017-08'), pd.Period('2017-09')]

In [18]:
periods

[Period('2017-07', 'M'), Period('2017-08', 'M'), Period('2017-09', 'M')]

In [19]:
# Create a pandas series using the periods as index variable
ts = pd.Series(np.random.randn(3), periods)

In [20]:
ts

2017-07    0.810130
2017-08    1.069522
2017-09    2.096661
Freq: M, dtype: float64

In [21]:
# Create a date range with 10 periods
# Date is given as YYYYMMDD

dates = pd.date_range('20191001',periods=10)
dates

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-05', '2019-10-06', '2019-10-07', '2019-10-08',
               '2019-10-09', '2019-10-10'],
              dtype='datetime64[ns]', freq='D')